header h1 {
  color: #f5c847;
  margin: 0;
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: 400;
}

.logoText {
  padding: 13px;
}
.searchBar {
  position: absolute;
  top: 9px;
  right: 245px;
}

.searchBar input {
  width: 270px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: "Montserrat";
  padding: 5px;
  padding-left: 9px;
  font-size: 14px;
}

.searchBar img {
  position: absolute;
  top: 5px;
  right: 8px;
}

.userInfo img {
  position: absolute;
  right: 34px;
  top: 10px;
}

.userInfo {
  position: absolute;
  top: 5px;
  right: 0;
  width: 230px;
  border-left: 1px solid gray;
  height: 36px;
}

.userInfo span {
  font-size: 16px;
  font-family: "Montserrat";
  color: rgb(245, 200, 71);
  line-height: 1.2;
  position: absolute;
  top: 8px;
  left: 12px;
}

header {
  height: 45px;
  z-index: 10;
  background-color: #4d4d4d;
  position: fixed;
  top: 0;
  left: 45px;
  right: 0;
  transition: left 0.5s;
}
