.sidebar {
  height: 100%;
  width: 45px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f5c847;
  transition: 0.5s;
  overflow-x: hidden;
  white-space: nowrap;
}

.sidebar a {
  padding-left: 13px;
  padding-top: 13px;
  text-decoration: none;

  display: block;
}
#menu {
  padding-left: 13px;
  padding-top: 13px;
  text-decoration: none;
  cursor: pointer;
  display: block;
}

.sidebar span {
  position: relative;
}
.sidebar span label {
  font-size: 14px;
  color: #4d4d4d;
  font-family: "Montserrat";
  font-weight: 600;
  margin-left: 15px;
  position: absolute;
}

.sidebar a:hover {
  color: #f1f1f1;
}

main .sidebar {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.material-icons,
.icon-text {
  vertical-align: middle;
}

.material-icons {
  padding-bottom: 3px;
  margin-right: 30px;
}

#main {
  margin-left: 41px;
  transition: margin-left 0.5s;
}
.Login .App {
  overflow: hidden;
}

.sidebar label {
  cursor: pointer;
  transition: font-size 0.1s;
}

.sidebar label:hover {
  font-size: 14.8px;
}
