/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f5c847;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f5c847;
}

.dots {
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}

.App {
  background: #282c2d;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
}
